.info-main {
	max-width: 885px;
	width: 100%;
	background-color: #fff;
	border-radius: 10px;
}
.sub-info {
	max-width: 860px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.flex-50 {
	flex-basis: 49%;
}
.info-image {
	display: flex;
	justify-content: space-between;
}
.info-image__desc {
	flex-basis: 68%;
}
.reverse {
	flex-direction: row-reverse;
}
.links-wrap {
	display: flex;
	flex-direction: column;
	width: max-content;
}
.info-main__title {
	font-family: 'ProximaNovaT-Thin', sans-serif;
	font-size: 30px;
	font-weight: 300;
	line-height: 28px;
	color: #a77a5e;
	margin-bottom: 15px;
}
.info-main__desc {
	font-family: 'ProximaNova-Light', sans-serif;
	font-size: 16px;
	color: #7f5c47;
	line-height: 25px;
	margin-bottom: 20px;
}
.sub-info__title {
	font-size: 16px;
	font-family: 'ProximaNova-SemiBold', sans-serif;
}
.sub-info__desc {
	font-size: 16px;
	line-height: 25px;
	color: #7f5c47;
	font-family: 'ProximaNova-Light', sans-serif;
	margin-top: 10px;
}
.info-image__img {
	width: 260px;
	height: 260px;
}
.info-image__desc {
	font-size: 16px;
	line-height: 22px;
	color: #7f5c47;
	font-family: 'ProximaNova-Light', sans-serif;
}



.info-links {
	background: #fff;
	max-width: 275px;
	width: 100%;
	height: max-content;
	border-radius: 10px;
	padding: 20px;
}
.info-links__title {
	font-size: 22px;
	font-family: 'ProximaNova-SemiBold', sans-serif;
	color: #7f5c47;
	margin-bottom: 10px;
}
.info-links__link {
	color: #ff98b4;
	font-size: 16px;
	font-family: 'ProximaNova-SemiBold', sans-serif;
	border-bottom: 1px dashed #ff98b4;
}
.opened {
	background-color: #fff !important;
	color: #a77a5e !important;
	display: flex !important;
}
.blog-slider .slick-dots{
	margin-top: 0;
}
.fix {
	outline: none;
	border: none !important;
}
.slick-dotted.slick-slider {
	margin-bottom: 0 !important;
}
.store-info .item-button-simple {
	line-height: 28px;
}
.item-kit__block-content {
	padding: 0 10px 0 12px;
}
.nav-tabs {
	border-bottom: none !important;
	margin-bottom: 0 !important;
}
.nav-block-scroll {
	border-bottom: 1px solid #f3e1d7 !important;
}
.blog-scroll {
	padding-bottom: 0px !important;
	height: max-content !important;
}
.links-wrapper {
	display: flex;
	justify-content: center;
}
.news-mailing__form-button:hover {
	opacity: .8;
}
.more-item__btn {
	display: flex;
	justify-content: center;
	align-items: center;
}
.more-item__btn:hover {
	color: #fff !important;
	background: #f7a98f;
	border: 2px solid #f7a98f;
}
.store-info .item-kit__block-image a {
	min-height: 220px;
}
.blog-like {
	transition: opacity .3s ease;
}
.blog-like:hover {
	opacity: .8;
}
.margin-left {
	margin-left: 15px;
}
.margin-right {
	margin-right: 15px;
}
.blog-tree {
	margin-top: 25px;
	margin-bottom: 25px;
}


@media screen and (max-width: 1169px) {
	.flex-row-reverse {
		flex-direction: row !important;
		padding: 0;
		margin: 0 auto;
	}
	.blog-tree {
		margin-top: 15px;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 15px;
	}
	.info-main__title {
		font-size: 28px;
	}
	.info-main__desc {
		font-size: 16px;
		line-height: 20px;
	}
	.info-main {
		padding: 15px !important;
		margin: 0 auto;
		margin-left: 10px;
		margin-right: 10px;
		max-width: 1169px;
	}
	.sub-info {
		max-width: 1169px;
		width: 100%;
	}
	.sub-info__title {
		font-size: 16px;
	}
	.sub-info__desc {
		font-size: 16px;
		line-height: 20px;
	}
	.info-image {
		flex-direction: column-reverse;
		align-items: center;
	}
	.info-image__desc {
		font-size: 16px;
		line-height: 20px;
		margin-top: 10px;
	}
	.margin-left {
		margin-left: 0;
	}
	.margin-right {
		margin-right: 0;
	}
	.info-image__img {
		margin: 0 !important;
	}
	.info-links {
		display: flex;
		flex-direction: column;
		max-width: inherit;
		margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
		background-color: #f7a98f;
		color: #fff;

	}
	.links-wrap {
		display: none;
		margin-top: 10px;
	}
	.info-btn {
		top: 2px !important;
		position: inherit !important;
		margin-left: 10px;
		margin-bottom: 0;
	}
	.info-links__title {
		color: #fff;
		margin-bottom: 0;
	}
	.site-tree__block {
		margin-left: 10px;
	}
	.nav-block-scroll {
		overflow-y: hidden;
	}
	.slick-initialized .slick-slide {
		display: flex !important;
		justify-content: center !important;
	}
	.item-kit__block-content {
		padding-left: 5px;
		padding-right: 5px;
	}
	.info-block-btns {
		justify-content: space-around !important;
	}
	.info-old-price {
		width: max-content;
	}
	.info-price {
		width: max-content;
	}
	.info-prices {
		display: flex;
		flex-direction: row;
	}
	.blog-scroll {
		margin-left: 10px;
		margin-right: 10px;
	}
}

@media screen and (min-width: 320px) and (max-width: 550px) {
	.info-main__title {
		font-size: 22px;
	}
	.info-main__desc {
		font-size: 13px;
		line-height: 17px;
	}
	.sub-info__title {
		font-size: 14px;
	}
	.sub-info__desc {
		font-size: 13px;
		line-height: 17px;
		margin-bottom: 15px;
	}
	.info-image__desc {
		font-size: 13px;
		line-height: 17px;
		margin-top: 10px;
	}
	.sub-info {
		display: flex;
		flex-direction: column;
		margin-bottom: 10px;
	}
	.blog-slider {
		margin-top: 30px;
	}
}
@media screen and (min-width: 700px) and (max-width: 1169px) {
	.sub-info {
		display: flex;
		flex-direction: row;
	}
	.margin-left {
		margin-left: 15px;
	}
	.margin-right {
		margin-right: 15px;
	}
	.info-links__title {
		font-size: 18px;
	}
	.info-links__link {
		font-size: 14px;
	}
	.space-around {
		justify-content: space-around !important;
	}
}

